h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

span {
  text-align: center;
}
p {
  text-align: center;
}

header {
  margin-bottom: 80px;
  background-color: blue;
  width: 100%;
}

.container {
  padding: 25px;
  margin: 0 auto;
  width: 500px;
}

.js-question-box {
  margin: auto;
  width: 650px;
  height: 400px;
  padding: 30px;
  background-color: #ccc;
}

.button {
  border-radius: 5px;
  background-color: #3d8af7;
}

.start {
  margin: auto;
}

.hide {
  display: none;
}

input[type="radio"] {
  vertical-align: middle;
}
